---
title: "GNARBOX (Part 2) | Grid North Design"

description: "Editing photos and videos."

priority: "0.6"
---

%section
  .container
    :markdown
      # GNARBOX (Part 2): Editing photos and videos

      If you haven't already, please read <a href="/projects/gnarbox-part-1">GNARBOX (Part 1)</a> first. Designing how customers edit their photos and videos is one of the most important parts of the app. It’s also the most complicated, and we spent a lot of time refining the design. In this case study we’ll explore the editor in more detail, including designs for both mobile and tablet.

%section
  .container
    :markdown
      ## Colour editor

      Customers horizontally scroll through options to make changes. We used a horizontal scroll so there’s more room for content to be displayed clearly. Customers can tap on the photo to preview any changes.

%section.c-project-media
  %img{src: "/images/projects/gnarbox/colour-editor.jpg", alt: "Colour editor", data: {at2x: "https://gridnorthdesign.com/images/projects/gnarbox/colour-editor@2x.jpg"}}/
  %small.c-caption
    We used a horizontal scroll so there’s more room for content.

%section
  .container
    :markdown
      ## Applying filters and cropping photos

      The app also comes with preset filters, for customers who want to quickly make edits without having to spend time manually adjusting colour settings.

      You can crop, rotate and set the aspect ratio all from one screen. Incremental rotations are also available using the default iOS rotator.

%section.c-project-media
  %img{src: "/images/projects/gnarbox/applying-filters.jpg", alt: "Applying filters and cropping photos", data: {at2x: "https://gridnorthdesign.com/images/projects/gnarbox/applying-filters@2x.jpg"}}/
  %small.c-caption
    The app comes with preset filters, and you can crop/rotate your photos.

%section
  .container
    :markdown
      ## Trimming videos and exporting frames

      The slow-mo and video trim elements follow the default iOS style, so they’ll be familiar to customers. To save space, we added overlay elements to the video, where you can set the slow-mo speed.

      Customers can export individual video frames as photos right within the app. Perfect for capturing stills if you’re only shooting video.

%section.c-project-media
  %img{src: "/images/projects/gnarbox/trimming-videos.jpg", alt: "Trimming videos and exporting frames", data: {at2x: "https://gridnorthdesign.com/images/projects/gnarbox/trimming-videos@2x.jpg"}}/
  %small.c-caption
    Trim down your videos and export individual frames as photos.

%section
  .container
    :markdown
      ## Tablet editor

      The editor is also available for tablet, and each section was redesigned to take full advantage of the larger screen.

%section.c-project-media
  %img{src: "/images/projects/gnarbox/tablet-editor.jpg", alt: "Tablet editor", data: {at2x: "https://gridnorthdesign.com/images/projects/gnarbox/tablet-editor@2x.jpg"}}/
  %small.c-caption
    Each section was redesigned for tablet, to take full advantage of the larger screen.

%section.c-more-projects
  .container
    %h2
      More company projects
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-deals-navigation")
      .col-sm-6
        = partial("/partials/project-cards/trivago-privacy-settings")
    .row
      .col-sm-6
        = partial("/partials/project-cards/gnarbox-part-1")
      .col-sm-6
        = partial("/partials/project-cards/cabify")

= partial("/partials/testimonials/tim-quote-2")
