---
title: "Projects | Grid North Design"

priority: "0.8"
---

%section
  .container
    :markdown
      # Projects

      I've been a designer for <em>7+ years</em>, and during that time I've worked both full-time and as a freelancer for companies including <em>trivago, Cabify and GNARBOX</em>. Below I've included both company and personal projects.

%section
  .container
    %h2
      Company projects
    .row
      .col-sm-12
        = partial("/partials/project-cards/trivago-app-redesign")
    %h3
      <em>Most recent</em> company projects
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-price-alerts")
      .col-sm-6
        = partial("/partials/project-cards/trivago-user-research-training")
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-sprint-facilitation")
      .col-sm-6
        = partial("/partials/project-cards/trivago-deals-navigation")
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-privacy-settings")
      .col-sm-6
        = partial("/partials/project-cards/trivago-unfavourite-icon")
    %h3
      <em>Past</em> company projects
    .row
      .col-sm-6
        = partial("/partials/project-cards/gnarbox-part-1")
      .col-sm-6
        = partial("/partials/project-cards/gnarbox-part-2")
    .row
      .col-sm-6
        = partial("/partials/project-cards/cabify")

%section
  .container
    %h2
      Personal projects
    .row
      .col-sm-12
        = partial("/partials/project-cards/kinex")
    .row
      .col-sm-6
        = partial("/partials/project-cards/richard-writes")
      .col-sm-6
        = partial("/partials/project-cards/sketch-to-html")
    .row
      .col-sm-6
        = partial("/partials/project-cards/sketch-tricks")

= partial("/partials/testimonials/nathan-quote")
