---
title: "Kinex | Grid North Design"

description: "Kinex is an Independent Living product with one mission: to design out the problems of crutches, so that users can maintain and lead an active life."

priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## Kinex

          During the final year of my 3D design degree I worked mainly in the healthcare industry. With each project I didn't have a specific product in mind, <em>instead I spoke with hospital staff to try and solve problems they were facing</em>.

          Kinex is an independent living product with one mission: to design out the problems of crutches, so that users can maintain and lead an active life. Kinex addresses these problems through intuitive design that’s easy to use.

%section
  .container
    %img{src: "/images/case-studies/kinex/kinex-clips.jpg", alt: "Pair of Kinex crutch clips", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/kinex/kinex-clips@2x.jpg"}}/
    %small.c-caption
      Pair of Kinex crutch clips.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### The problem

          Quita is a physiotherapist at a local hospital, and she spoke about how patients with crutches struggle when using stairs. Both the NHS and manufacturers state that you must hold onto a handrail when going up and down stairs. Meaning that you have to hold a pair of crutches in one hand, which a lot of patients struggle with. The current solution is for hospitals to give patients an extra crutch so they can leave it upstairs. This adds cost and is a makeshift solution.

          <q>Patients have issues when it comes to stairs. When going up the stairs you have one hand on the handrail, another holding a crutch, so what do you do with the second crutch? Most patients attempt to hold both in one hand. Physically this can be a problem, especially amongst elderly and Arthritic patients. It also distracts you from the already difficult task of getting up the stairs.</q> &mdash; Quita, Physiotherapist

          <q>One of my crutches actually snapped when going up a flight of stairs. I fell down and hit a wall, I ended up returning to the hospital for treatment.</q> &mdash; Patient

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/kinex/physiotherapist.jpg", alt: "Physiotherapist demonstrating the problem", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/kinex/physiotherapist@2x.jpg"}}/
    %small.c-caption
      Physiotherapist demonstrating the problem.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Designing the solution

          Kinex solves this problem by magnetically joining two crutches together using a set of four clips. The patient maintains full use of the supporting crutch, and stability whilst holding onto the handrail. The second crutch remains out of the way as it’s supported.

          The orange Kinex clips go on one crutch and the green Kinex clips go on the other. Colour coding means that you know which two will magnetise together. An orange clip will always magnetise with a green clip. No trial and error.

          <q>After my hip replacement surgery, I’ve always feared using crutches on our stairs due to the pain. Kinex was easy to fit and use as the magnets do all the work. I now feel more secure whilst on the stairs and not a prisoner in my own home!</q> &mdash; Carlene, long term crutch user

%section
  .container
    %img{src: "/images/case-studies/kinex/design-overview.jpg", alt: "Design overview", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/kinex/design-overview@2x.jpg"}}/
    %small.c-caption
      Design overview showing two crutches magnetically joined together.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Design details

          The clips are simple, but let’s dive into some of the details. Because who doesn’t love design details? :)

          ##### They never touch

          There is a gap between the surface of the magnet and the front face of Kinex, meaning the magnets never touch. This is to prevent the magnets from cracking as they come together.

          ##### Magnets

          Kinex uses a high quality Neodymium magnet. The strength of the magnet has been chosen so that it offers stability whilst the crutches are locked together, but remains simple to pull apart. Magnets auto-locate, so you don’t have to spend time lining up the clips.

          ##### Retrofits existing crutches

          The clip has been designed to fit a 25mm diameter tubular frame.  The standard size for crutches in the UK.

%section
  .container
    %img{src: "/images/case-studies/kinex/design-details.jpg", alt: "Design details of the Kinex product", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/kinex/design-details@2x.jpg"}}/
    %small.c-caption
      Design details of the Kinex product.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Feedback

          I asked Physiotherapists and Occupational Therapists for feedback on Kinex:

          <q>The design is most suited to long-term users, and we like how the simple use of magnets aid the use on stairs, a problem we’ve found amongst patients.</q> &mdash; Occupational Therapist

          <q>I really like how simple the idea is, as the NHS aren’t prepared to spend money on high-tech over designed crutches.</q> &mdash; Physiotherapist

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/kinex/carlene.jpg", alt: "Carlene (long term crutch user) testing Kinex", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/kinex/carlene@2x.jpg"}}/
    %small.c-caption
      Carlene (long term crutch user) testing Kinex.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Branding

          As Kinex is colour coded, 2 colour variations of the logo were designed to match the product. The “X” represents 2 clips coming together.

%section
  .container
    %img{src: "/images/case-studies/kinex/logo-variations.png", alt: "Kinex logo variations", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/kinex/logo-variations@2x.png"}}/
    %small.c-caption
      Kinex logo variations.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Hymid R&D

          Along with an investor, I started Hymid R&D to bring Kinex to market. Hymid R&D Ltd was setup alongside Hymid Multi-Shot Ltd to leverage their manufacturing expertise.

%section.c-more-projects
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/kinex")
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/kinex")

= partial("/partials/testimonials/laura-quote")
