---
title: "María Toledo | Grid North Design"

description: "María is a Spanish-English bilingual actress with experience in theatre, film, television and commercials."

priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## María Toledo

          María is a Spanish-English bilingual actress with experience in theatre, film, television and commercials. She trained at East 15 Acting School in London and Cuarta Pared in Madrid. Her last jobs include: the characters of Adela and the Bride by Lorca, a Xbox commercial, English plays for kids and the musical The Polyglots.

          A casting agent will be looking through hundreds of websites, so we only have seconds to capture their attention and give them the information they’re looking for. María’s website only needed to be a single page, but how it’s designed would be based purely on prioritising the information that casting agents require.

%section.c-section.cs-image
  %img.u-border-radius{src: "/images/case-studies/maria-toledo/complete-website.jpg", alt: "Complete website", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/maria-toledo/complete-website@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Structuring the information

          The first section of the website is the most important, and we decided to include the following information: languages spoken, experience, training, location, height, playing age, nationality, accent and show reels.

          When the website loads, the casting agent will first read the heading “María is a Spanish-English bilingual actress with experience in theatre, film, television and commercials”. This specifically targets casting agents and describes María’s experience in a single sentence. Speaking both Spanish and English is a big advantage for María, so it’s given high priority.

          Below the heading is María’s headshot and a short bio. The bio is very focused, only mentioning her training, location and more specific roles. The show reels are clearly titled as to not avoid confusion. <em>Everything in this section has been designed to deliver the right information at the right time</em>.

%section.c-section.cs-image
  %img.u-border-radius{src: "/images/case-studies/maria-toledo/photos-experience.jpg", alt: "Photos and experience", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/maria-toledo/photos-experience@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Photos and experience

          There’s no slideshows to click through or information to download, <em>all of María’s photos and experience is available just by scrolling down the page</em>. Very simple and saves time.

%section.c-more-projects
  .container
    %h3
      More case studies
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/kinex")
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/kinex")

= partial("/partials/testimonials/tim-quote-1")
