---
title: "JensonR+ | Grid North Design"

description: "JensonR+ is a pharmaceutical consultancy that offers a wide range of services that cover the full product life-cycle, from concept through to launch."

priority: "0.6"
---

%section
  .container
    :markdown
      ## JensonR+

      JensonR+ is a pharmaceutical consultancy that offers a wide range of services. Covering the full product life-cycle, from concept through to launch. They provide support at all levels, from strategy through to administration, which allows them to tailor their services to meet the specific needs of their clients.

      As JensonR+ offers such a wide range of services, the problem was structuring the website in a way that clearly showed what services they offer, without making it confusing. <em>We also wanted the reader to be able to access any service from anywhere on the page</em>.

%section.c-section.cs-image
  %img.u-border-radius{src: "/images/case-studies/jensonr/overview.jpg", alt: "Website overview", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/jensonr/overview@2x.jpg"}}/

%section
  .container
    :markdown
      #### Services

      A potential client needs to know what services JensonR+ offer to decide if they’re the right fit for their company. So as soon as they visit the homepage, all the services are listed with details and a link to learn more. This is the most important part of the website, and is given high priority on the homepage. The services are also shown in the header and footer.

%section.c-section.cs-image
  %img.u-border-radius{src: "/images/case-studies/jensonr/services.jpg", alt: "Services offered to clients", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/jensonr/services@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Footer with newsletter signup

          The footer again reinforces the services that JensonR+ offer, which is very important for potential clients. It also acts as the primary call to action on every page of the website, and the green was chosen so that the buttons clearly stand out. Sending a newsletter is new for JensonR+, so I took them through the process and worked with them to setup MailChimp.

%section.c-section.cs-image
  %img.u-border-radius{src: "/images/case-studies/jensonr/footer.jpg", alt: "Footer with newsletter signup", data: {at2x: "https://www.gridnorthdesign.com/images/case-studies/jensonr/footer@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Designing the navigation

          Whilst researching competitor websites, I found that most used multiple navigations with the same links, which is very confusing. With JensonR+’s website, we used a single fixed navigation that allowed the reader to access any service from anywhere on the page. <em>One single navigation. No confusion</em>.

%section.c-more-projects
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/kinex")
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/kinex")

= partial("/partials/testimonials/nathan")
