!!!
%html
  %head
    %title= current_page.data.title || "Grid North Design"
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{name: "description", :content => current_page.data.description || "Hello, I'm Richard Child, Product Designer."}/
    %meta{name: "keywords", content: "richard, child, grid, north, product, ux, ui, design, designer"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"}
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}

    %meta{name: "twitter:title", :content => current_page.data.title || "Grid North Design"}/
    %meta{name: "twitter:description", :content => current_page.data.description || "Hello, I'm Richard Child, Product Designer."}/
    %meta{name: "twitter:card", content: "summary"}/
    %meta{name: "twitter:image", content: "https://gridnorthdesign.com/images/twitter-image.png"}/
    %meta{name: "twitter:site", content: "@RJ_Child"}/
    %meta{name: "twitter:creator", content: "@RJ_Child"}/

    %meta{property: "og:title", :content => current_page.data.title || "Grid North Design"}/
    %meta{property: "og:description", :content => current_page.data.description || "Hello, I'm Richard Child, Product Designer."}/
    %meta{property: "og:site_name", content: "Grid North Design"}/
    %meta{property: "og:url", content: "https://gridnorthdesign.com"}/
    %meta{property: "og:type", :content => current_page.data.type || "Website"}/
    %meta{property: "og:image", content: "https://gridnorthdesign.com/images/og-image.png"}/

    = stylesheet_link_tag "main"
    = javascript_include_tag "main"
    = partial("/partials/javascript/head")

  %body{class: page_classes}
    = partial("/partials/header")
    = yield
