!!!
%html
  %head
    %title= current_page.data.title || "Travel business? Stop fighting templates and learn how design can solve real problems &mdash; Grid North Design"
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{name: "description", content: "Grid North Design provides mobile design services for travel businesses."}/
    %meta{name: "keywords", content: "mobile, design, richard, child, grid, north, gridnorthdesign, travel, startup"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}/
    %meta{name: "twitter:card", content: "summary_large_image"}/
    %meta{name: "twitter:site", content: "@thisincludes"}/
    %meta{name: "twitter:creator", content: "@thisincludes"}/
    %meta{name: "twitter:title", content: "Grid North Design"}/
    %meta{name: "twitter:description", content: "In-depth guides, articles, and downloadable resources on mobile design for travel businesses."}/
    %meta{name: "twitter:image", content: "http://www.gridnorthdesign.com/images/twitter-card.jpg"}/
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}

    = stylesheet_link_tag "main"
    = javascript_include_tag "main"
    = partial("/partials/javascripts/head")

  %body{class: page_classes}
    .page-wrapper
      = partial("/partials/header")
      = yield
      .page-pusher
    = partial("/partials/footer")
