---
title: "GNARBOX (Part 1) | Grid North Design"

description: "Backup, edit and share all of your footage, without a laptop."

priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## GNARBOX (Part 1)

          When you own a camera, the biggest problem is managing all of your HD videos and photos. GNARBOX solves this problem by allowing you to backup, edit and share all of your footage, without a laptop. <em>2,988 Kickstarter backers pledged $540,776 to bring this project to life</em>.

%section
  .container
    .c-iframe
      <iframe src="https://player.vimeo.com/video/133610334?title=0&byline=0&portrait=0" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### How it works

          Importing and editing files using GNARBOX is a simple 3-step process. No laptop required:

          1. <em>Plug in your camera</em>. USB, microSD and SD ports allow you to easily connect any camera to GNARBOX. You can also connect a hard drive for additional space.
          2. <em>Connect to GNARBOX</em>. Connect your phone wirelessly to GNARBOX’s own Wi-Fi hotspot, then open the app.
          3. <em>Edit & share</em>. Edit all your media instantly, even 4K and .RAW files, then share it with your friends.

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/gnarbox/drone.jpg", alt: "GNARBOX + Drone"}/
    %small.c-caption
      GNARBOX + Drone

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### The problem

          Most customers will have 1000s of files stored on their GNARBOX, so how do you organise all of this media? The traditional way is to create folders, name them, then add files to these folders. But, this method suits desktop more than mobile, because you have a mouse and large keyboard.

          Additionally, let’s imagine that you’re skiing, and you want to quickly backup your files. You’re in the mountains, so it’s <em>unlikely that you want to spend time creating folders and organising your files</em>. You just want to backup your media and get back to skiing! You can always organise your files later when you’re connected to a laptop.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Organising media

          <em>GNARBOX automatically organises media based on the date the files were created</em>. For example, if you went skiing on 9th November, GNARBOX would create a folder called “November 9” and add the files to it.

          Files are then organised by time inside each folder. So if you were skiing at one location in the morning, then another location in the afternoon, your photos and videos will be grouped accordingly.

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/gnarbox/organising-media.jpg", alt: "Organising media"}/
    %small.c-caption
      GNARBOX automatically organises media based on the date the files were created.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Recents & favourites

          If you import a file into GNARBOX that was created in 2005, then it’ll be added towards the bottom of the timeline. Which is obviously a problem. We added a section called “Recently imported”, which organises files based on their import date. So you can <em>easily access the content you’re looking for</em>, no matter when the file was created. There’s also a “Favorites” section, allowing customers to quickly access the content they treasure the most.

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/gnarbox/recents-favourites.jpg", alt: "Recents & favourites"}/
    %small.c-caption
      “Recently imported” organises files based on their import date.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Importing files

          If you have 2 SD cards plugged in, not only can you import files from those cards into GNARBOX, but you can also directly move files between each card. When viewing content on an SD card, files that aren’t backed up are given priority. <em>Allowing customers to easily see which files they need to import</em>.

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/gnarbox/importing-files.jpg", alt: "Importing files"}/
    %small.c-caption
      Files that aren’t backed up are given priority.

%section
  .container
    .row
      .col-sm-5.col-sm-offset-1.col-sm-push-6
        %img{src: "/images/case-studies/gnarbox/search.jpg", alt: "Search"}/
      .col-sm-6.col-sm-pull-6
        %h4.u-margin-top--70
          Search
        :markdown
          As GNARBOX automatically adds location data to imported files, the <em>search feature is very powerful</em>. You can filter content based on keywords, location, date, and file type.

%section
  .container
    .row
      .col-sm-5
        %img{src: "/images/case-studies/gnarbox/night-mode.jpg", alt: "Night mode"}/
      .col-sm-6.col-sm-offset-1
        %h4.u-margin-top--70
          Night mode
        :markdown
          Love editing your footage late into the night? We designed night mode so the app’s interface reduces screen brightness when it gets dark.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Android design

          The app was designed for Android according to Google's Material Design guidelines. When you have an app available for multiple platforms, it's important to <em>customise the design for each operating system</em>, using elements that your customers will be familiar with.

%section.c-more-case-studies
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/gnarbox-2")
      .col-sm-6
        = partial("/partials/case-study-cards/cabify")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/accent")
      .col-sm-6
        = partial("/partials/case-study-cards/kinex")

= partial("/partials/testimonials/tim-1")
