---
title: "Grid North Logo | Grid North Design"

description: "4 variations of the Grid North logo that are all different, yet clearly connected."

priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## Grid North Logo

          I don’t offer branding services to clients, but I love designing my own logos for personal projects. I was struggling to come up with ideas for Grid North, so for inspiration, I started listening to renowned graphic designer Michael Beirut talk about his work. One of his projects was to create a new identity for Saks Fifth Avenue, and the shopping bags were designed by chopping up the logo into 64 squares using an 8x8 grid.

%section
  .container
    %img{src: "/images/case-studies/gridnorth-logo/saks-fifth-avenue.jpg", alt: "New identity for Saks Fifth Avenue (designed by Pentagram)", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/gridnorth-logo/saks-fifth-avenue@2x.jpg"}}/
    %small.c-caption
      New identity for Saks Fifth Avenue (designed by Pentagram).

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Designing the logo

          Following the same principle, I overlaid a 2x2 grid onto a symbol that represented north. This creates 4 variations of the Grid North logo that are all different, yet clearly connected.

%section
  .container
    %img{src: "/images/case-studies/gridnorth-logo/logo-variations.png", alt: "Grid North logo variations", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/gridnorth-logo/logo-variations@2x.png"}}/
    %small.c-caption
      Grid North logo variations.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### On the web

          Taking it one step further, how can I show these variations throughout the website? A talented developer friend of mine, Michael Koper, helped me implement a system where a random logo is shown when a page is loaded. To see this in action, <em>simply refresh this page and watch the logo in the top left</em>.

%section.c-more-case-studies
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/gnarbox-1")
      .col-sm-6
        = partial("/partials/case-study-cards/gnarbox-2")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/cabify")
      .col-sm-6
        = partial("/partials/case-study-cards/accent")

= partial("/partials/testimonials/laura")
