---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-10
        %h1
          Case Studies
        %h2
          A few examples of some of the amazing clients I’ve had chance to work with.

%section
  .container
    .row
      .col-md-6
        = partial("/partials/case-study-cards/cabify")
      .col-md-6
        = partial("/partials/case-study-cards/gnarbox")
    .row
      .col-md-6
        = partial("/partials/case-study-cards/jensonr")
      .col-md-6
        = partial("/partials/case-study-cards/maria-toledo")

= partial("/partials/testimonials/tim-1")
