---
title: "Case Studies &mdash; Grid North Design"
priority: "0.8"
---

%section
  .container
    .row
      .col-sm-10
        %h2
          Case Studies
        %p
          I'm currently focused on mobile design, but here I've included a range of design projects that I've worked on. From web design and branding, to 3D design for the healthcare industry.

%section
  .container
    %h4.u-margin-bottom--50
      Travel projects
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/cabify")
      .col-sm-6
        = partial("/partials/case-study-cards/gnarbox")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/accent")

%section
  .container
    %h4.u-margin-bottom--50
      Other projects
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/kinex")
      .col-sm-6
        = partial("/partials/case-study-cards/jensonr")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/maria-toledo")
      .col-sm-6
        = partial("/partials/case-study-cards/gridnorth-logo")

= partial("/partials/testimonials/nathan")
