---
title: "Company projects | Grid North Design"

description: "I've been a designer for over 7 years, and during that time I've worked both full-time and as a freelancer for companies including: trivago, Cabify and GNARBOX."

priority: "0.6"
---

%section
  .container
    :markdown
      # Company projects

%section
  .container
    %h2
      trivago (7)
    .row
      .col-sm-12
        = partial("/partials/project-cards/trivago-app-redesign")
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-price-alerts")
      .col-sm-6
        = partial("/partials/project-cards/trivago-user-research-training")
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-sprint-facilitation")
      .col-sm-6
        = partial("/partials/project-cards/trivago-deals-navigation")
    .row
      .col-sm-6
        = partial("/partials/project-cards/trivago-privacy-settings")
      .col-sm-6
        = partial("/partials/project-cards/trivago-unfavourite-icon")

%section
  .container
    %h2
      Freelance (2)
    .row
      .col-sm-6
        = partial("/partials/project-cards/gnarbox-part-1")
      .col-sm-6
        = partial("/partials/project-cards/gnarbox-part-2")

%section
  .container
    %h2
      Cabify (1)
    .row
      .col-sm-6
        = partial("/partials/project-cards/cabify")
