---
priority: "1"
---

%section
  .container
    :markdown
      # Hello, I'm Richard Child, Product Designer

      I've been a designer for <em>over 7 years</em>, and during that time I've worked both full-time and as a freelancer for companies including: <em>trivago, Cabify and GNARBOX</em>. I also enjoy working on personal projects. Currently, I'm writing and sharing poetry and short stories over at <a href="http://richardwrit.es" target="_blank">Richard Writes</a>.

      I actually studied 3D Design at University, but one day we were asked to build a digital portfolio using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning web development on Treehouse.

%section
  .container
    %h2
      Company projects
    -# = partial("/partials/project-cards/trivago-explore")
    -# = partial("/partials/project-cards/trivago-map-entry-point")
    = partial("/partials/project-cards/trivago-sprint-facilitation")
    = partial("/partials/project-cards/trivago-user-research-training")

%section
  .container
    %h2
      Personal projects
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")
      .col-sm-6
        = partial("/partials/project-cards/sketch-tricks")
    .row
      .col-sm-6
        = partial("/partials/project-cards/sketch-to-html")
      .col-sm-6
        = partial("/partials/project-cards/richard-writes")
